<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1066085541018-4s4ud8cbhsr8q2iasruavk0clql35sbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066085541018-4s4ud8cbhsr8q2iasruavk0clql35sbf</string>
	<key>API_KEY</key>
	<string>AIzaSyDWOwoE6aw2dRG8wvd69IEajYQsV-jErQM</string>
	<key>GCM_SENDER_ID</key>
	<string>1066085541018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craterzone</string>
	<key>PROJECT_ID</key>
	<string>testapp-8e94d</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-8e94d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066085541018:ios:f295e52d86343c5f</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-8e94d.firebaseio.com</string>
</dict>
</plist>